<!DOCTYPE html>
<html lang="en">
  <%- include('./head') %>
  <body>
    <div class="container-xxl px-md-5 bg-white shadow-lg" id="all-container">
      <%- include('./header') %>
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Page not Found</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Explore Recipes on Home page :</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/" class="btn btn-primary btn-lg px-4 gap-3">
              Go to Home
            </a>
          </div>
        </div>
      </div>
      <footer class="py-5">
        <p>Build by Gaurav</p>
      </footer>
    </div>
  </body>
</html>
