<!DOCTYPE html>
<html lang="en">
  <%- include('./head', {title: title}) %>
  <body>
    <div class="container-xxl px-md-5 bg-white shadow-lg" id="all-container">
      <header><%- include('./header') %></header>
      <div id="login1form"><%- include('./login') %></div>
      <footer class="py-5">
        <p>Build by Gaurav</p>
      </footer>
    </div>
  </body>
</html>
