.root {
    --bs-font-sans-serif: 'Rubik', sans-serif;
}

#all-container {
    width: 80%;
}

body {
    background-color: rgb(243, 243, 243);
}

a {
    color: var(--bs-dark);
}

#hero-img {
    border-radius: 50%;
    width: 27rem;
    height: 30rem;
}

.category__link {
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250mx all;
}

.category__link:hover {
    transform: scale(1.1);
}

.category__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 3ppx 6px rgba(0, 0, 0, .16);
    overflow: hidden;
    border-radius: 8px;
}

.category__img img {
    width: 100%;
    object-fit: cover;
}

#view-all {
    height: 100%;
}

.category__img--large {
    height: 290px;
}

.form-floating {
    width: 100%;
    margin-top: 12px;
}

.login {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.link {
    color: rgb(110, 110, 255);
    display: flex;
    margin-top: 5px;
    justify-content: center;
}

#loginalert {
    margin-bottom: 5px;
}

.album {
    margin-top: 2rem;
}

.removebtn {
    color: rgb(117, 115, 115);
    border: none;
    border-radius: none;
    background-color: transparent;
    margin-top: 8px;
    margin-left: 4px;
    padding: 0 0 0 0;
}

.delete {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

.translate {
    display: flex;
    justify-content: space-between;
}

#login1form {
    margin-top: 5rem;
    margin-bottom: 15rem;
}